name: .NET Tests

on:
  push:
    branches: ["main", "lab_1"]
  pull_request:
    branches: ["main", "lab_1"]

jobs:
  test:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'

    - name: Restore dependencies
      run: dotnet restore lab_1.sln

    - name: Build
      run: dotnet build --no-restore --configuration Release lab_1.sln

    - name: Run tests
      run: dotnet test CarRental.Tests/CarRental.Tests.csproj --no-build --configuration Release
